## домашнее задание: 
(можно выполнять прям в ячейках, или скопировав код в 
PyCharm)

In [17]:
# задание 1
# какие из этих строк можно конкатенировать? Какие умножать? Какие вычитать? Запишите все результаты, которые у Вас получились
a = 23
b = 34.02
c = "Python is cool. "
d = "You are cool, too. "
print(a+b)
print(a-b)
print(a*b)
print(a*2)
print(b*2)
print(a/b)
print(a//b)
print(a%b)
concat=c+d
print(concat)
print(c*2)
print(d*2)
concat1=a+b
print(concat1)

57.02
-11.020000000000003
782.46
46
68.04
0.6760728982951204
0.0
23.0
Python is cool. You are cool, too.
Python is cool. Python is cool.
You are cool, too. You are cool, too.
57.02

In [22]:
# задание 2
"""
Придумайте такую строку (на любом знакомом Вам языке),чтобы она состояла из трех других (повторы строки разрешены).
Напишите код. Если вы можете сделать это более, чем одним способом, напишите все способы
"""
e="Happy "
f="Birthday, "
g="mom!"
concat2=(e+f+g)
print(concat2)
print(e+f+g)

Happy Birthday, mom!
Happy Birthday, mom!

In [67]:
# задание 3
"""
Как из слова "апельсин" сделать слово "спаниель" ? 
Подсказка: вам помогут срезы и операции с индексами
"""
h="апельсин"
print(h)
print(h[::-1])
i=(h[::-1])
print(i[2:7:4])
j=(i[2:7:4])
print(i[::-7])
k=(i[::-7])
l=(i[1])
print(l)
m=(h[2:5])
print(m)
print(j+k+l+m)

апельсин
нисьлепа
сп
ан
и
ель
спаниель

In [111]:
# задание 4 (выполняется по желанию)
"""элементы в переменной text преобразуйте в нижний регистр, а затем запишите наоборот, с последнего элемента по первый"""
text = "WOW, NOEL SEES LEON"
print(text.lower())
text1=(text.lower())
print(text1.split())
list1=(text1.split())
print(list1[::-1])

wow, noel sees leon
['wow,', 'noel', 'sees', 'leon']
['leon', 'sees', 'noel', 'wow,']